# vim: ft=sh
setxkbmap -option caps:swapescape 
setxkbmap -option altwin:swap_alt_win
[ -f $HOME/.fehbg ] && . $HOME/.fehbg &

export PATH="$HOME/.scripts:$PATH"

if [[ "$(cat /etc/hostname)" = "paul-laptop" ]]; then
	xinput set-prop "DLL0704:01 06CB:76AE Touchpad" "libinput Natural Scrolling Enabled" 1
fi

xmousepasteblock
